# Aula 03: Limpeza e Preparação de Dados

**Objetivo:** Ensinar técnicas fundamentais para preparar dados para análise e modelagem.

Nesta aula, exploraremos as etapas cruciais de limpeza e preparação de dados, que são essenciais para garantir a qualidade e a usabilidade dos dados em qualquer projeto de ciência de dados.

---

### Célula 1: Importação das Bibliotecas Necessárias
Primeiro, vamos importar as bibliotecas que usaremos, principalmente o `pandas` para manipulação de dados.

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Configurações para melhor visualização
pd.set_option('display.max_columns', None)
pd.set_option('display.width', 1000)

### Célula 2: Carregamento do Dataset
Para o nosso projeto prático, vamos simular o carregamento de um dataset sobre empregos e salários.
Em um cenário real, você carregaria seu próprio arquivo (e.g., CSV, Excel, JSON).

Para fins de demonstração, criaremos um DataFrame de exemplo.

In [2]:
# Criando um DataFrame de exemplo para simular um dataset de empregos e salários
data = {
    'ID': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12],
    'Cargo': ['Cientista de Dados', 'Engenheiro de Software', 'Analista de Dados', 'Cientista de Dados', 'Gerente de Projeto', 'Analista de BI', 'Engenheiro de ML', 'Cientista de Dados', 'Desenvolvedor Web', 'Analista de Dados', 'Engenheiro de Dados', 'Cientista de Dados'],
    'Experiencia_Anos': [3, 5, 2, np.nan, 8, 4, 6, 3, 1, 2, 7, np.nan],
    'Salario_Anual_USD': [85000, 120000, 60000, 90000, 150000, 70000, 130000, 92000, 55000, 63000, 140000, 95000],
    'Localizacao': ['São Paulo', 'Remoto', 'Rio de Janeiro', 'Belo Horizonte', 'São Paulo', 'Remoto', 'São Paulo', 'Rio de Janeiro', 'Curitiba', 'São Paulo', 'Remoto', 'Belo Horizonte'],
    'Educacao': ['Mestrado', 'Graduação', 'Graduação', 'Mestrado', 'Pós-Graduação', 'Graduação', 'Mestrado', 'Doutorado', 'Graduação', 'Graduação', 'Mestrado', 'Graduação'],
    'Data_Contratacao': ['2022-01-15', '2020-05-20', '2023-03-10', '2021-11-01', '2018-07-25', '2021-09-12', '2019-02-01', '2022-06-30', '2024-01-05', '2023-08-18', '2019-10-10', '2022-04-22'],
    'Avaliacao_Desempenho': [4.5, 4.8, 3.9, 4.2, 4.9, 4.1, 4.7, 4.3, 3.7, 4.0, 4.6, 4.4],
    'Empresa_Tamanho': ['Grande', 'Média', 'Pequena', 'Grande', 'Grande', 'Média', 'Grande', 'Pequena', 'Média', 'Grande', 'Grande', 'Média'],
    'Bonus_Percentual': [0.10, 0.15, 0.05, 0.12, 0.20, 0.08, 0.18, 0.10, 0.03, 0.06, 0.17, 0.11]
}
df = pd.DataFrame(data)

print("DataFrame Original:")
print(df.head())
print("\nInformações do DataFrame Original:")
df.info()
print("\nEstatísticas Descritivas do DataFrame Original:")
print(df.describe(include='all'))

DataFrame Original:
   ID                   Cargo  Experiencia_Anos  Salario_Anual_USD     Localizacao       Educacao Data_Contratacao  Avaliacao_Desempenho Empresa_Tamanho  Bonus_Percentual
0   1      Cientista de Dados               3.0              85000       São Paulo       Mestrado       2022-01-15                   4.5          Grande              0.10
1   2  Engenheiro de Software               5.0             120000          Remoto      Graduação       2020-05-20                   4.8           Média              0.15
2   3       Analista de Dados               2.0              60000  Rio de Janeiro      Graduação       2023-03-10                   3.9         Pequena              0.05
3   4      Cientista de Dados               NaN              90000  Belo Horizonte       Mestrado       2021-11-01                   4.2          Grande              0.12
4   5      Gerente de Projeto               8.0             150000       São Paulo  Pós-Graduação       2018-07-25                   4.9          Grande              0.20

Informações do DataFrame Original:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12 entries, 0 to 11
Data columns (total 10 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    12 non-null     int64
 1   Cargo                 12 non-null     object
 2   Experiencia_Anos      10 non-null     float64
 3   Salario_Anual_USD     12 non-null     int64
 4   Localizacao           12 non-null     object
 5   Educacao              12 non-null     object
 6   Data_Contratacao      12 non-null     object
 7   Avaliacao_Desempenho  12 non-null     float64
 8   Empresa_Tamanho       12 non-null     object
 9   Bonus_Percentual      12 non-null     float64
dtypes: float64(3), int64(2), object(5)
memory usage: 1.1+ KB

Estatísticas Descritivas do DataFrame Original:
               ID               Cargo  Experiencia_Anos  Salario_Anual_USD Localizacao   Educacao Data_Contratacao  Avaliacao_Desempenho Empresa_Tamanho  Bonus_Percentual
count   12.000000                  12         10.000000          12.000000          12         12               12             12.000000              12         12.000000
unique        NaN                   8               NaN                NaN           5          4               12                   NaN               3               NaN
top           NaN  Cientista de Dados               NaN                NaN   São Paulo  Graduação       2022-01-15                   NaN          Grande               NaN
freq          NaN                   4               NaN                NaN           4          6                1                   NaN               6               NaN
mean     6.500000                 NaN          4.100000       95833.333333         NaN        NaN              NaN              4.341667             NaN          0.112500
std      3.605551                 NaN          2.330951       32333.020929         NaN        NaN              NaN              0.375278             NaN          0.053788
min      1.000000                 NaN          1.000000       55000.000000         NaN        NaN              NaN              3.700000             NaN          0.030000
25%      3.750000                 NaN          2.250000       68250.000000         NaN        NaN              NaN              4.075000             NaN          0.075000
50%      6.500000                 NaN          3.500000       91000.000000         NaN        NaN              NaN              4.350000             NaN          0.105000
75%      9.250000                 NaN          5.750000      122500.000000         NaN        NaN              NaN              4.625000             NaN          0.155000
max     12.000000                 NaN          8.000000      150000.000000         NaN        NaN              NaN              4.900000             NaN          0.200000

### Célula 3: Tratamento de Valores Ausentes (`dropna()`, `fillna()`)

Valores ausentes (NaN, None, NaT) são comuns em datasets e podem impactar negativamente a análise.
Existem duas abordagens principais para lidar com eles:

* **Remoção (`dropna()`):** Remover linhas ou colunas que contêm valores ausentes.
* **Preenchimento (`fillna()`):** Preencher os valores ausentes com um valor específico (média, mediana, moda, um valor constante, etc.).

#### 3.1 Identificando Valores Ausentes

In [3]:
print("\nValores Ausentes por Coluna antes do tratamento:")
print(df.isnull().sum())

Valores Ausentes por Coluna antes do tratamento:
ID                      0
Cargo                   0
Experiencia_Anos        2
Salario_Anual_USD       0
Localizacao             0
Educacao                0
Data_Contratacao        0
Avaliacao_Desempenho    0
Empresa_Tamanho         0
Bonus_Percentual        0
dtype: int64

#### 3.2 Removendo Linhas com Valores Ausentes (`dropna()`)
Se a quantidade de valores ausentes for pequena e não comprometer a análise, podemos simplesmente remover as linhas.

In [4]:
df_dropped = df.dropna()
print("\nDataFrame após remover linhas com valores ausentes:")
print(df_dropped.head())
print("\nValores Ausentes após dropna():")
print(df_dropped.isnull().sum())

DataFrame após remover linhas com valores ausentes:
   ID                   Cargo  Experiencia_Anos  Salario_Anual_USD     Localizacao       Educacao Data_Contratacao  Avaliacao_Desempenho Empresa_Tamanho  Bonus_Percentual
0   1      Cientista de Dados               3.0              85000       São Paulo       Mestrado       2022-01-15                   4.5          Grande              0.10
1   2  Engenheiro de Software               5.0             120000          Remoto      Graduação       2020-05-20                   4.8           Média              0.15
2   3       Analista de Dados               2.0              60000  Rio de Janeiro      Graduação       2023-03-10                   3.9         Pequena              0.05
4   5      Gerente de Projeto               8.0             150000       São Paulo  Pós-Graduação       2018-07-25                   4.9          Grande              0.20
5   6          Analista de BI               4.0              70000          Remoto      Graduação       2021-09-12                   4.1           Média              0.08

Valores Ausentes após dropna():
ID                      0
Cargo                   0
Experiencia_Anos        0
Salario_Anual_USD       0
Localizacao             0
Educacao                0
Data_Contratacao        0
Avaliacao_Desempenho    0
Empresa_Tamanho         0
Bonus_Percentual        0
dtype: int64

#### 3.3 Preenchendo Valores Ausentes (`fillna()`)
Preencher valores ausentes é geralmente preferível à remoção, pois preserva mais dados.
A estratégia de preenchimento depende do tipo de dado e do contexto.

* **Para colunas numéricas:** Média, mediana, ou um valor constante.
* **Para colunas categóricas:** Moda ou uma categoria 'Desconhecido'.

In [5]:
# Criando uma cópia para não alterar o DataFrame original para as próximas demonstrações
df_filled = df.copy()

# Preenchendo 'Experiencia_Anos' (numérico) com a mediana
median_experiencia = df_filled['Experiencia_Anos'].median()
df_filled['Experiencia_Anos'].fillna(median_experiencia, inplace=True)

# Exemplo de preenchimento com um valor constante para uma coluna hipotética
# df_filled['Outra_Coluna_Numerica'].fillna(0, inplace=True)

# Para colunas categóricas, podemos preencher com a moda (valor mais frequente)
# ou com uma string 'Desconhecido'
# Por exemplo, se tivéssemos valores ausentes em 'Educacao':
# mode_educacao = df_filled['Educacao'].mode()[0]
# df_filled['Educacao'].fillna(mode_educacao, inplace=True)

print("\nDataFrame após preencher 'Experiencia_Anos' com a mediana:")
print(df_filled.head())
print("\nValores Ausentes após fillna():")
print(df_filled.isnull().sum())

DataFrame após preencher 'Experiencia_Anos' com a mediana:
   ID                   Cargo  Experiencia_Anos  Salario_Anual_USD     Localizacao       Educacao Data_Contratacao  Avaliacao_Desempenho Empresa_Tamanho  Bonus_Percentual
0   1      Cientista de Dados               3.0              85000       São Paulo       Mestrado       2022-01-15                   4.5          Grande              0.10
1   2  Engenheiro de Software               5.0             120000          Remoto      Graduação       2020-05-20                   4.8           Média              0.15
2   3       Analista de Dados               2.0              60000  Rio de Janeiro      Graduação       2023-03-10                   3.9         Pequena              0.05
3   4      Cientista de Dados               3.5              90000  Belo Horizonte       Mestrado       2021-11-01                   4.2          Grande              0.12
4   5      Gerente de Projeto               8.0             150000       São Paulo  Pós-Graduação       2018-07-25                   4.9          Grande              0.20

Valores Ausentes após fillna():
ID                      0
Cargo                   0
Experiencia_Anos        0
Salario_Anual_USD       0
Localizacao             0
Educacao                0
Data_Contratacao        0
Avaliacao_Desempenho    0
Empresa_Tamanho         0
Bonus_Percentual        0
dtype: int64

/tmp/ipykernel_31144/2361416507.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_filled['Experiencia_Anos'].fillna(median_experiencia, inplace=True)

### Célula 4: Correção de Tipos de Dados e Normalização

Garantir que as colunas tenham o tipo de dado correto é fundamental para operações e análises.
Normalização e padronização são técnicas usadas para escalar dados numéricos.

#### 4.1 Correção de Tipos de Dados

In [6]:
print("\nTipos de Dados Atuais:")
print(df.dtypes)

# Convertendo 'Data_Contratacao' para o tipo datetime
df['Data_Contratacao'] = pd.to_datetime(df['Data_Contratacao'])

# Podemos também converter colunas categóricas para o tipo 'category' para otimização de memória
df['Cargo'] = df['Cargo'].astype('category')
df['Localizacao'] = df['Localizacao'].astype('category')
df['Educacao'] = df['Educacao'].astype('category')
df['Empresa_Tamanho'] = df['Empresa_Tamanho'].astype('category')

print("\nTipos de Dados Após Correção:")
print(df.dtypes)

Tipos de Dados Atuais:
ID                        int64
Cargo                    object
Experiencia_Anos        float64
Salario_Anual_USD         int64
Localizacao              object
Educacao                 object
Data_Contratacao         object
Avaliacao_Desempenho    float64
Empresa_Tamanho          object
Bonus_Percentual        float64
dtype: object

Tipos de Dados Após Correção:
ID                               int64
Cargo                         category
Experiencia_Anos               float64
Salario_Anual_USD                int64
Localizacao                   category
Educacao                      category
Data_Contratacao        datetime64[ns]
Avaliacao_Desempenho           float64
Empresa_Tamanho               category
Bonus_Percentual               float64
dtype: object

#### 4.2 Normalização (Min-Max Scaling)
Normalização escala os valores numéricos para um intervalo específico, geralmente entre 0 e 1.
Isso é útil para algoritmos que são sensíveis à escala das features (e.g., K-Means, SVMs).

Fórmula: $X_{normalized} = (X - X_{min}) / (X_{max} - X_{min})$

In [7]:
# Normalizando 'Salario_Anual_USD' e 'Experiencia_Anos' (após preencher NaNs)
# Usaremos o df_filled para esta etapa, pois já tratamos os NaNs
df_normalized = df_filled.copy()

# Normalizando 'Salario_Anual_USD'
min_salario = df_normalized['Salario_Anual_USD'].min()
max_salario = df_normalized['Salario_Anual_USD'].max()
df_normalized['Salario_Anual_USD_Normalized'] = (df_normalized['Salario_Anual_USD'] - min_salario) / (max_salario - min_salario)

# Normalizando 'Experiencia_Anos'
min_experiencia = df_normalized['Experiencia_Anos'].min()
max_experiencia = df_normalized['Experiencia_Anos'].max()
df_normalized['Experiencia_Anos_Normalized'] = (df_normalized['Experiencia_Anos'] - min_experiencia) / (max_experiencia - min_experiencia)

print("\nDataFrame após Normalização (Min-Max Scaling):")
print(df_normalized[['Salario_Anual_USD', 'Salario_Anual_USD_Normalized', 'Experiencia_Anos', 'Experiencia_Anos_Normalized']].head())

DataFrame após Normalização (Min-Max Scaling):
   Salario_Anual_USD  Salario_Anual_USD_Normalized  Experiencia_Anos  Experiencia_Anos_Normalized
0              85000                      0.315789               3.0                     0.285714
1             120000                      0.684211               5.0                     0.571429
2              60000                      0.052632               2.0                     0.142857
3              90000                      0.368421               3.5                     0.357143
4             150000                      1.000000               8.0                     1.000000

#### 4.3 Padronização (Standardization - Z-score normalization)
Padronização escala os valores para que tenham média 0 e desvio padrão 1.
Fórmula: $X_{standardized} = (X - \mu) / \sigma$

In [8]:
# Padronizando 'Salario_Anual_USD' e 'Experiencia_Anos'
df_standardized = df_filled.copy()

# Padronizando 'Salario_Anual_USD'
mean_salario = df_standardized['Salario_Anual_USD'].mean()
std_salario = df_standardized['Salario_Anual_USD'].std()
df_standardized['Salario_Anual_USD_Standardized'] = (df_standardized['Salario_Anual_USD'] - mean_salario) / std_salario

# Padronizando 'Experiencia_Anos'
mean_experiencia = df_standardized['Experiencia_Anos'].mean()
std_experiencia = df_standardized['Experiencia_Anos'].std()
df_standardized['Experiencia_Anos_Standardized'] = (df_standardized['Experiencia_Anos'] - mean_experiencia) / std_experiencia

print("\nDataFrame após Padronização (Standardization):")
print(df_standardized[['Salario_Anual_USD', 'Salario_Anual_USD_Standardized', 'Experiencia_Anos', 'Experiencia_Anos_Standardized']].head())

DataFrame após Padronização (Standardization):
   Salario_Anual_USD  Salario_Anual_USD_Standardized  Experiencia_Anos  Experiencia_Anos_Standardized
0              85000                       -0.335055               3.0                      -0.471405
1             120000                        0.747430               5.0                       0.471405
2              60000                       -1.108258               2.0                      -0.942809
3              90000                       -0.180414               3.5                      -0.235702
4             150000                        1.675274               8.0                       1.885618

### Célula 5: Manipulação de DataFrames: Filtragem, Ordenação, Criação de Novas Colunas

O `pandas` oferece ferramentas poderosas para manipular DataFrames.

#### 5.1 Filtragem de Dados
Podemos selecionar subconjuntos de dados com base em condições.

In [9]:
# Filtrando por 'Cargo'
df_cientista_dados = df[df['Cargo'] == 'Cientista de Dados']
print("\nDataFrame filtrado por 'Cientista de Dados':")
print(df_cientista_dados)

# Filtrando por múltiplas condições (Salário > 100000 E Localização = 'São Paulo')
df_sp_altosalario = df[(df['Salario_Anual_USD'] > 100000) & (df['Localizacao'] == 'São Paulo')]
print("\nDataFrame filtrado por Salário > 100000 e Localização 'São Paulo':")
print(df_sp_altosalario)

DataFrame filtrado por 'Cientista de Dados':
    ID               Cargo  Experiencia_Anos  Salario_Anual_USD     Localizacao   Educacao Data_Contratacao  Avaliacao_Desempenho Empresa_Tamanho  Bonus_Percentual
0    1  Cientista de Dados               3.0              85000       São Paulo   Mestrado       2022-01-15                   4.5          Grande              0.10
3    4  Cientista de Dados               NaN              90000  Belo Horizonte   Mestrado       2021-11-01                   4.2          Grande              0.12
7    8  Cientista de Dados               3.0              92000  Rio de Janeiro  Doutorado       2022-06-30                   4.3         Pequena              0.10
11  12  Cientista de Dados               NaN              95000  Belo Horizonte  Graduação       2022-04-22                   4.4           Média              0.11

DataFrame filtrado por Salário > 100000 e Localização 'São Paulo':
   ID               Cargo  Experiencia_Anos  Salario_Anual_USD Localizacao       Educacao Data_Contratacao  Avaliacao_Desempenho Empresa_Tamanho  Bonus_Percentual
4   5  Gerente de Projeto               8.0             150000   São Paulo  Pós-Graduação       2018-07-25                   4.9          Grande              0.20
6   7    Engenheiro de ML               6.0             130000   São Paulo       Mestrado       2019-02-01                   4.7          Grande              0.18

#### 5.2 Ordenação de Dados (`sort_values()`)
Podemos ordenar o DataFrame por uma ou mais colunas.

In [10]:
# Ordenando por 'Salario_Anual_USD' em ordem decrescente
df_ordenado_salario = df.sort_values(by='Salario_Anual_USD', ascending=False)
print("\nDataFrame ordenado por Salário (Decrescente):")
print(df_ordenado_salario.head())

# Ordenando por 'Cargo' (ascendente) e depois por 'Experiencia_Anos' (decrescente)
df_ordenado_multi = df.sort_values(by=['Cargo', 'Experiencia_Anos'], ascending=[True, False])
print("\nDataFrame ordenado por Cargo e Experiência:")
print(df_ordenado_multi.head())

DataFrame ordenado por Salário (Decrescente):
    ID                   Cargo  Experiencia_Anos  Salario_Anual_USD     Localizacao       Educacao Data_Contratacao  Avaliacao_Desempenho Empresa_Tamanho  Bonus_Percentual
4    5      Gerente de Projeto               8.0             150000       São Paulo  Pós-Graduação       2018-07-25                   4.9          Grande              0.20
10  11     Engenheiro de Dados               7.0             140000          Remoto       Mestrado       2019-10-10                   4.6          Grande              0.17
6    7        Engenheiro de ML               6.0             130000       São Paulo       Mestrado       2019-02-01                   4.7          Grande              0.18
1    2  Engenheiro de Software               5.0             120000          Remoto      Graduação       2020-05-20                   4.8           Média              0.15
11  12      Cientista de Dados               NaN              95000  Belo Horizonte      Graduação       2022-04-22                   4.4           Média              0.11

DataFrame ordenado por Cargo e Experiência:
   ID               Cargo  Experiencia_Anos  Salario_Anual_USD     Localizacao   Educacao Data_Contratacao  Avaliacao_Desempenho Empresa_Tamanho  Bonus_Percentual
5   6      Analista de BI               4.0              70000          Remoto  Graduação       2021-09-12                   4.1           Média              0.08
2   3   Analista de Dados               2.0              60000  Rio de Janeiro  Graduação       2023-03-10                   3.9         Pequena              0.05
9  10   Analista de Dados               2.0              63000       São Paulo  Graduação       2023-08-18                   4.0          Grande              0.06
0   1  Cientista de Dados               3.0              85000       São Paulo   Mestrado       2022-01-15                   4.5          Grande              0.10
7   8  Cientista de Dados               3.0              92000  Rio de Janeiro  Doutorado       2022-06-30                   4.3         Pequena              0.10

#### 5.3 Criação de Novas Colunas
Podemos criar novas colunas a partir de colunas existentes ou de lógica de negócio.

In [11]:
# Criando uma coluna 'Salario_Mensal'
df['Salario_Mensal_USD'] = df['Salario_Anual_USD'] / 12
print("\nDataFrame com nova coluna 'Salario_Mensal_USD':")
print(df[['Salario_Anual_USD', 'Salario_Mensal_USD']].head())

# Criando uma coluna 'Tempo_Empresa_Anos' a partir de 'Data_Contratacao'
# Assumindo a data atual como 2025-06-28
data_atual = pd.to_datetime('2025-06-28')
df['Tempo_Empresa_Anos'] = (data_atual - df['Data_Contratacao']).dt.days / 365.25
print("\nDataFrame com nova coluna 'Tempo_Empresa_Anos':")
print(df[['Data_Contratacao', 'Tempo_Empresa_Anos']].head())

# Criando uma coluna 'Salario_Categoria' baseada em faixas de salário
def categorizar_salario(salario):
    if salario < 70000:
        return 'Baixo'
    elif 70000 <= salario < 120000:
        return 'Médio'
    else:
        return 'Alto'

df['Salario_Categoria'] = df['Salario_Anual_USD'].apply(categorizar_salario)
print("\nDataFrame com nova coluna 'Salario_Categoria':")
print(df[['Salario_Anual_USD', 'Salario_Categoria']].head())

DataFrame com nova coluna 'Salario_Mensal_USD':
   Salario_Anual_USD  Salario_Mensal_USD
0              85000         7083.333333
1             120000        10000.000000
2              60000         5000.000000
3              90000         7500.000000
4             150000        12500.000000

DataFrame com nova coluna 'Tempo_Empresa_Anos':
  Data_Contratacao  Tempo_Empresa_Anos
0       2022-01-15            3.449692
1       2020-05-20            5.106092
2       2023-03-10            2.302533
3       2021-11-01            3.655031
4       2018-07-25            6.926762

DataFrame com nova coluna 'Salario_Categoria':
   Salario_Anual_USD Salario_Categoria
0              85000             Médio
1             120000              Alto
2              60000             Baixo
3              90000             Médio
4             150000              Alto

### Célula 6: Projeto Prático: Preparação de um Dataset sobre Empregos e Salários

Vamos aplicar todas as técnicas aprendidas para preparar nosso dataset de exemplo para uma análise posterior.

**Passo a passo:**

1.  **Carregar o dataset** (já fizemos isso, mas vamos usar uma cópia limpa para o projeto).
2.  **Inspecionar o dataset:** `info()`, `isnull().sum()`, `describe()`.
3.  **Tratar valores ausentes:** Preencher `Experiencia_Anos` com a mediana.
4.  **Corrigir tipos de dados:** Converter `Data_Contratacao` para datetime e categóricas para 'category'.
5.  **Criar novas colunas:**
    * `Salario_Total_Com_Bonus`: `Salario_Anual_USD * (1 + Bonus_Percentual)`
    * `Decada_Contratacao`: Extrair a década da `Data_Contratacao`.
6.  **Normalizar/Padronizar:** Padronizar `Salario_Total_Com_Bonus` e `Experiencia_Anos`.
7.  **Remover colunas desnecessárias** (opcional, para este exemplo, manteremos todas).

### Célula 7: Conclusão

Nesta aula, você aprendeu técnicas essenciais para limpeza e preparação de dados, incluindo:
* Identificação e tratamento de valores ausentes usando `dropna()` e `fillna()`.
* Correção de tipos de dados e aplicação de normalização/padronização.
* Manipulação de DataFrames através de filtragem, ordenação e criação de novas colunas.

A preparação de dados é uma etapa iterativa e crucial que impacta diretamente a qualidade e a confiabilidade de suas análises e modelos de machine learning. Com essas habilidades, você está mais preparado para trabalhar com dados do mundo real.